<html>
    <body>
        <h1><%= title =%> </h1>
        <table>
            <tr>
                <th>
                    Name
                </th>
                <th>
                    Price
                </th>
                <th>
                    Category
                </th>
            </tr>
        </table>
        <%
            products.forEach(p => {
        %>
            <tr>
                <td><%= p.name %></td>
                <td><%= p.price %></td>
                <td><%= p.category %></td>
            </tr>
        <%
            })

        %>
    </body>
</html>